body {
    background-image: url(images/blackjacktable.jpg);
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 20pt;
}

h1 {
    color: goldenrod;
    font-size: 40pt;
}

.game-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#message-ask {
    font-style: italic;
}


button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 3px 0px;
}